<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body bgcolor="#FFCCFF">
<font color='green'><h1 align='center'>Sri Lakshmi Venkata Ramana Fertilizers</h1></font>
<br/><br/><br/>
<center>
<font color="#0000FF"><h1>YOUR DEALERS DETAILS</h1> </font><br /><br /><br /><br /><br />
<a href="/total_dealers_details/"><input type="button" style="height:20px; width:200px; border-radius:20px" value="show_dealers_details"/></a>
<a href="/new_user_details/"><input type="button" style="height:20px; width:200px; border-radius:20px" value="Add_New_User_Details"/></a><br /><br /><br />
</center>
</body>
