<html>
	<body bgcolor='pink'>
		<font color='green'><h1 align='center'>Welcome to Sri Lakshmi Venkata Ramana Fertilizers</h1></font>
		<br><br><br>
		<marquee>
			<font color='blue'><h3>Please select the Batch Number to search for the Stock
			</h3></font>
		</marquee>
		<br><br><br>
		<form action='/show_batch_number_wise_stock/' method='GET'>
			<table align='center' cellpadding=30>
				<tr>
					<th><input type='text' name='check_batch_number' value='Enter Batch Number to Serach'></th>
					<th><input type='submit' name='Check Stock'></th>

				</tr>
			</table>

		</form>
		<br><br><br>
		<font align='center'>
			<h4 align='center'>click <a href='/home/'>HERE</a> to redirect to Home page</h4>
		</font>
<html>
