<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body bgcolor="#FFCCFF">
<center>
<font color="#0000FF"><h1>SRI LAKSHMI VENKATA RAMANA FERTILIZERS DETAILS</h1> </font><br /><br /><br /><br /><br />
<marquee>
			<font color='green'><h3>please enter no of items purchase</h3></font>
		</marquee>
		<br /><br /><br /><br /><br /><br />

<form action="/enter_billing_items/" method="GET">
<input type="text" style="height:20px; width:200px; border-radius:20px" name="billing" value="Enter No Of Items" />
<input type="submit" style="height:20px; width:200px; border-radius:20px" value="Proceed Billing"/>
</form>
</center>/
</body>
