<html>
	<body bgcolor='pink'>
		<font color='green'><h1 align='center'>Sri Lakshmi Venkata Ramana Fertilizers</h1></font>
		<br><br><br>
		<marquee>
			<font color='blue'><h3>Please select the Company Name to search for the dealers
			</h3></font>
		</marquee>
		<br><br><br>
		<form action='/show_company_wise_details/' method='GET'>
			<table align='center' cellpadding=30>
				<tr>
					<th><input type='text' name='check_company1_name' value='Enter Company Name to Serach'></th>
					<th><input type='submit' name='Check Dealers'></th>

				</tr>
			</table>

		</form>
		<br><br><br>
		<font align='center'>
			<h4 align='center'>click <a href='/home/'>HERE</a> to redirect to Home page</h4>
		</font>
<html>
